<%= form_for(@paciente) do |f| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CPF %><br />
    <%= f.text_field :CPF %>
  </div>
  <div class="field">
    <%= f.label :RG %><br />
    <%= f.text_field :RG %>
  </div>
  <div class="field">
    <%= f.label :Nome %><br />
    <%= f.text_field :Nome %>
  </div>
  <div class="field">
    <%= f.label :CEP %><br />
    <%= f.text_field :CEP %>
  </div>
  <div class="field">
    <%= f.label :Endereco %><br />
    <%= f.text_field :Endereco %>
  </div>
  <div class="field">
    <%= f.label :Numero %><br />
    <%= f.text_field :Numero %>
  </div>
  <div class="field">
    <%= f.label :Bairro %><br />
    <%= f.text_field :Bairro %>
  </div>
  <div class="field">
    <%= f.label :Cidade %><br />
    <%= f.text_field :Cidade %>
  </div>
  <div class="field">
    <%= f.label :UF %><br />
    <%= f.text_field :UF %>
  </div>
  <div class="field">
    <%= f.label :Complemento %><br />
    <%= f.text_field :Complemento %>
  </div>
  <div class="field">
    <%= f.label :Sexo %><br />
    <%= f.text_field :Sexo %>
  </div>
  <div class="field">
    <%= f.label :Estado_Civil %><br />
    <%= f.text_field :Estado_Civil %>
  </div>
  <div class="field">
    <%= f.label :data_nascimento %><br />
    <%= f.datetime_select :data_nascimento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
