<h1>Listing convenios</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @convenios.each do |convenio| %>
  <tr>
    <td><%= convenio.descricao %></td>
    <td><%= link_to 'Show', convenio %></td>
    <td><%= link_to 'Edit', edit_convenio_path(convenio) %></td>
    <td><%= link_to 'Destroy', convenio, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Convenio', new_convenio_path %>
