<h1>Listing status_system_users</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @status_system_users.each do |status_system_user| %>
  <tr>
    <td><%= status_system_user.descricao %></td>
    <td><%= status_system_user.status %></td>
    <td><%= link_to 'Show', status_system_user %></td>
    <td><%= link_to 'Edit', edit_status_system_user_path(status_system_user) %></td>
    <td><%= link_to 'Destroy', status_system_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status system user', new_status_system_user_path %>
