<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @foto.nome %>
</p>

<p>
  <b>Id consulta:</b>
  <%= @foto.id_consulta %>
</p>


<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
